@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  height: 100vh;
  background-image: url(./Components/Assets/bgweather.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.img {
  background-size: cover;
  background-repeat: no-repeat;
}
.shadowe {
  text-shadow: 6px 6px 10px black;
}
